
/* Small devices (tablets) */
@media (min-width: 350px) {
    .header .menubar .flex {
        justify-content: space-between;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100vh;
        overflow-x: none;
    }
   
}

/* Large devices (large desktops) */
@media (min-width: 992px) {
    
}

/* Extra large devices (extra large desktops) */
@media (min-width: 1200px) {
   
}

/* Extra extra large devices */
@media (min-width: 1400px) {
   
}