@import url('https://fonts.googleapis.com/css?family=Inter');


body {
    font-family: 'Inter';
}

.header {
    padding: 20px 0;
}

.header .logo-header {
    max-width: 200px;
}

.header .menubar {
    display: flex;
    align-items: center;
}

.header .menubar.left {
    justify-content: right;
}

.header .menubar ul.navbar-item {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menubar ul.navbar-item li {
    padding: 0 10px;
}

.header .menubar ul.navbar-item li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.header .menubar ul.navbar-item-left {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menubar ul.navbar-item-left li {
    padding: 0 10px;
}

.header .menubar ul.navbar-item-left li:not(:last-child) {
    border-right: 2px solid #000;
}

.header .menubar ul.navbar-item-left li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.header .menubar ul.navbar-item-left li a svg {
    color: #a81a1a;
    margin-right: 5px;
    font-size: 16px;
}
.header .theme-btn{
    padding: 5px 10px;
}
.theme-btn {
    color: #fff;
    background: #003777;
    border: 2px solid #003777;
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.05s ease all;
}

button.theme-btn:hover {
    background: #fff;
    color: #003777;
    border: 2px solid #003777;
}

button.theme-btn-light {
    background: #fff;
    color: #003777;
    border: 2px solid #003777;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.05s ease all;
}

button.theme-btn-light:hover {
    color: #fff;
    background: #003777;
    border: 2px solid #003777;
}

.top-banner {
    padding: 50px 0;
}

.subheading {
    color: #7a7a7a;
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-text {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    padding: 0 80px;
    margin-bottom: 40px;
}

.gradient {
    display: inline-block;
    background-image: url('../img/blur-bg.png');
    background-size: cover;
    background-position: center;
}

.banner-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.p-relative{
    position: relative;
}
.play-btn {
    position: absolute;
    background-image: url(http://localhost:3000/static/media/play.f0761a9b427c9b60aef7.png);
    display: block;
    height: 100px;
    width: 100px;
    background-size: cover;
    top: 43%;
    left: 45%;
}

.video-area {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(http://localhost:3000/static/media/gradient-bg.c7710dcbbfa210c12bcb.png);
    background-size: contain;
    background-position: center;
}
.light-bg{
    background-color: #eff5ff;
}
.padding-sec{
padding: 70px 0;
}

.title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
}

.box svg , .box img{
    color: #000;
    font-size: 40px;
    margin-bottom: 20px;
}

.box h4{
    font-size: 24px;
    line-height: 28px;
}

.box p {
    color: #2563EB;
    font-size: 13px;
}

.counter-box {
    position: relative;
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent; /* Transparent border to show the gradient */
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(98.24deg, #6DDCFF 0%, #7F60F9 100%) border-box;
    border-radius: 10px; /* Optional: Adjust based on your needs */
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
  }

  .count h3 {
    color: #003777;
    font-weight: 800;
    font-size: 50px;
}
.count p {
background: #3B4353;
}
hr.gradient-line {
    border: none;
    height: 2px; 
    background: linear-gradient(98.24deg, #6DDCFF 0%, #7F60F9 100%);
    margin: 20px 0;
    opacity: 1;
  }

  .count.border-right{
    border-right: 2px solid transparent; /* Transparent border to show the gradient */
    background: linear-gradient(white, white) padding-box, linear-gradient(100.24deg, #6DDCFF 95%, #7F60F9 100%) border-box
  }